<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OYG INGENIERIA</title>

    <link rel="stylesheet" href="style.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">

    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">
        <div class="name__page">
            <i class="fab fa-youtube" title="Inicio" ></i>
            <h4> OYG INGENIERIA</h4>
        </div>

        <div class="options__menu">	

            <a href="#" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="far fa-user" title="Empleados"></i>
                    <h4>Empleados</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fas fa-shop" title="Herrmientas"></i>
                    <h4>Herrmientas</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fas fa-cart-plus" title="Moviemientos" ></i>
                    <h4>Moviemientos</h4>
                </div>
            </a>

            

            <a href="#">
                <div class="option">
                    <i class="fas fa-right-from-bracket"></i>
                    <h4>Login Out</h4>
                </div>
            </a>

            </a>

        </div>

    </div>
    <main>
       <h1 class="card-text2" style="text-align: center;">OYG INGENIERIA</h1><br>
       <img src="" calss="imagen">
       <center><p class="card-text"  >OYG INGENIERIA es una empresa ubicada en Medellín, 
            en el barrio La Castellana, en este lugar se encuentra ubicada la oficina principal, 
            sin embargo los servicios se han prestado a nivel nacional, 
            es una empresa que lleva legalmente constituida hace más de 10 años, 
            va creciendo considerablemente en el último tiempo, 
            actualmente cuenta con 30 trabajadores y se caracterizan 
            por un servicio íntegro y de calidad</p></main></center>
        </div>
    <script src="../src/script.js"></script>
</body>
</html>