<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Google Iniciar Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>

<body>
    <div class="container" align="center">
        <div class="row justify-content-center">
            <div class="card mt-5" style="width: 50rem;height: 100%; padding: 0px;">
                <div class="card-header"
                    style="background-color: rgba(0,0,0,0) !important; border-bottom: none !important;">
                    <img src="" alt="" style="width:15rem;" class="card-img-top ">
                </div>
                <div class="card-body">
                    <h3>Bienvenido</h3>
                    <p>
                        <%=user.given_name%>
                            <%=user.family_name%>
                    </p>
                    <p>
                        <%=user.email%>
                    </p>
                    <div class="alert alert-success" role="alert">
                        Ya puedes cerrar esta ventana
                    </div>
                </div>
                <div class="card-footer">
                    <p class="card-text">Powered By Johan Posada</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>